:root {
    --background-color: #1b1b1b;
    --text-color: #FFF;
    --secondary-color: #4e4e4e;
    --hover-anim-primary: #000080;
    --hover-anim-secondary: #05055f;
}



body {
    display: none;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    grid-column: 1 / -1; /* This will make the header span the full width of the grid */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color); /* Navy blue */
    padding: 20px;
    color: var(--text-color); /* White text */
}

#breadcrumb {
    grid-column: 1 / -1; /* This will make the site-container span the full width of the grid */
    grid-row: 2; /* This will make the site-container sit at the second row, just below the header */
    background-color: var(--secondary-color);
    height: 30px;
    border: 1px solid #AAA;
    border-left: none;
    border-right: none;
    text-align: left;
    display: flex; /* Use flexbox to align the text vertically */
    align-items: center; /* Align the text to the center vertically */
    justify-content: left; /* Align the text to the center horizontally */
    padding-left: 20px;
}

#breadcrumb a {
    margin: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 0 10px 0;
}

#breadcrumb a:hover {
    text-decoration: underline;
}


.logo {
    font-family: "Brush Script MT";
    font-size: 27px;
    color: var(--text-color)
}

.logo svg {
    stroke: var(--text-color);
    fill: var(--text-color)
}

header div {
    display: flex;
    align-items: center;
}

header div:first-child {
    justify-content: space-between;
    flex-grow: 1;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    
}

header button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 10px;
}

#theme-label {
    width: 100px;
}


header button.rotate {
    animation: rotate 0.6s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-330deg);
    }
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

pre {
    border: solid var(--text-color) 1px;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.50); /* Shadow effect */
}



#sidebar-wrapper {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    background-color: var(--secondary-color); /* Slightly darker navy blue */
    margin-top: 35px;
}

#sidebar {
    /* Remove overflow-y: scroll; */
    font-size: 14px;
    background-color: var(--background-color); /* Slightly darker navy blue */
    padding: 20px;
    height: 100%;
    min-height: 100vh;
}

dd {
    padding: 20px;
    
}

dt {
    font-weight: bold;
}

nav a {
    padding: 10px;
    background-position: 100%;
    transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 100%, var(--hover-anim-primary) 0%);
}

nav a:hover {
    background-image: linear-gradient(to right, var(--hover-anim-primary), var(--hover-anim-secondary) 50%, transparent 50%);
    background-position: 0 0;
}

#sidebar a, #sidebar button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    text-align: left;
    display: block;
    color: var(--text-color); /* White links */
    text-decoration: none;
    padding: 10px;
    text-wrap:nowrap;
    background-position: 100%;
    transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 100%, var(--hover-anim-primary) 0%);
    text-shadow: 2px 2px 4px #000000; /* Shadow effect */
    border-radius: 5px; /* Rounded corners */
    margin-right: -20px;
}

#sidebar a:hover, #sidebar button:hover {
    /* Remove padding-left: 20px; */
    background-image: linear-gradient(to right, var(--hover-anim-primary), var(--hover-anim-secondary) 50%, transparent 50%);
    background-position: 0 0;
}

#sidebar a.active {
    padding-left: 20px; /* Indent text for active link */
    background-image: linear-gradient(to right, var(--hover-anim-primary), var(--hover-anim-secondary) 50%, transparent 50%);
    background-position: 0 0;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-container {
    position: relative;
}

.dropdown-content {
    display: none;
    position: relative; /* Changed from absolute to relative */
    min-width: 160px;
    z-index: 1;
    background-color: var(--background-color);
}

.dropdown:hover .dropdown-content {
    display: none; /* Remove hover effect */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.4s ease-in-out;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 100%, var(--hover-anim-primary) 0%);
    text-shadow: 2px 2px 4px var(--text-color);
    border-radius: 5px;
    padding-left: 20px;
}


#theme-toggle {
    width: 100;
    height: auto;
}

.dropdown > a {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space out the text and the icon */
    align-items: center; /* Align the text and the icon vertically */
    white-space: nowrap; /* Prevent text and icon from wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Show ellipsis when text overflows */
    /* Rest of your CSS properties */
}

.dropdown > a::after {
    color: var(--text-color);
    content: '▼'; /* Dropdown icon */
    /* Remove float: right; */
    margin-left: 10px; /* Space between the icon and the text */
    
}

.dropdown-content a:hover {
    background-image: linear-gradient(to right, var(--hover-anim-primary), var(--hover-anim-secondary) 50%, transparent 50%);
    background-position: 0 0;
    padding-left: 30px;
}

.dropdown-content a.has-link::before {
    content: '';
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent var(--text-color);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.dropdown-content ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* Removes default padding */
}

.dropdown-content ul ul {
    margin-left: 10px; /* Reduces indentation for submenus */
}

#main {
    grid-column: 2; /* Start from the second column */
    grid-row: 2;
    margin: 50px;
    font: "Helvetica Neue";
    word-spacing: 2px;
}

h1, h2 {
    border-bottom: solid var(--text-color) 1px;
}

a {
    color: var(--text-color); /* White links */
}